html, body {
  background-image: url(../img/bg.png);
}

#chart_container {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

#chart_container {
	background-color: #ddd;
	width: 100%;
	height: 400px;
}

#chart {
	position: relative;
	width: 100%;
}

#y_axis {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
}

body { 
	font-family: Arial, sans-serif 
}
#chart_container {
	width: 960px;
}
.swatch {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 8px 0 0;
}
.label {
	display: inline-block;
}
.line {
	display: inline-block;
	margin: 0 0 0 30px;
}
#legend {
	text-align: center;
}
.rickshaw_graph .detail {
	background: none;
}